<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.exelatech.ecx.backend.dao.mapper.HolidayMapper'>
	<resultMap type='com.exelatech.ecx.backend.model.Holiday' id='HolidayResult'>
		<result property='holidayName' column='HOLIDAY_NAME' />
	</resultMap>


 
	<select id="getHoliday" resultMap="HolidayResult">
		SELECT FH.HOLIDAY_NAME
		FROM ECX.FEDERAL_HOLIDAY FH FETCH FIRST 1 ROWS ONLY
	</select>

</mapper>